.fb-share-button = link_to t('common.actions.share'), "http://www.facebook.com/share.php?u=#{url}", onclick: "window.open(this.href, 'facebook_share', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1'); return false;"
